.sound_div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
  margin: 36px 0;
}

.sound_div:hover{
  background-color: rgba(255, 255, 255, 0.7)
}