.countdown_main {
  width: 100%;
  .countdown_main_opacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.7);
    color: black;
    margin: 0 auto;
    padding: 124px 24px 100px 24px;
    position: relative;
    .countdown_title {
      color: black;
      text-align: center;
      position: absolute;
      white-space: nowrap;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Josefin Slab', sans-serif;
      font-weight: 400;
      font-size: 36px;
    }
    .time_countdown {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 0 24px;
      margin: 25px;
      width: 100%;
      // font-size: 32px;
      .time_countdown_item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-family: 'Josefin Slab', sans-serif;
        .time_value {
          font-size: 28px;
          font-family: 'Josefin Slab', sans-serif;
          line-height: 54px;
        }
        .time_name {
          font-size: 20px;
          font-family: 'Josefin Slab', sans-serif;
          font-weight: 400;
        }
      }
    }
    @media only screen and (max-width: 550px) {
      .time_countdown {
        gap: 12px;
        padding: 0 12px;
        .time_countdown_item {
          .time_value {
            font-size: 22px;
          }
          .time_name {
            font-size: 14px;
          }
        }
      }
      .countdown_title{
font-size: 24px;
      }
    }
  }
}
